# created by virtualenv automatically
venv/bin
/venv/
/.idea/.gitignore
/log.txt
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/tw_InHouseAd.iml
/.idea/vcs.xml
